#Required Libraries
fastapi
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
alembic
bcrypt
python-jose[cryptography]
stripe
python-dotenv
xhtml2pdf
secure-smtplib
sendgrid
python-multipart
pytest
pytest-cov
httpx
pytest-asyncio
pytest-mock